<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="sidebar" data-color="purple" data-image="/img/sidebar-5.jpg">

	<div class="sidebar-wrapper">


		<div class="logo">
			<a href="#" class="simple-text" th:text="${name} + ' ProMAN'"> </a>
		</div>

		<ul class="nav">
			<li
				th:classappend="${#httpServletRequest.servletPath.equals('/dashboard') ? 'active' : ''}">
				<a href="dashboard.html" th:href="@{/dashboard}"> <i
					class="pe-7s-graph"></i>
					<p>Dashboard</p>
			</a>
			</li>
			<li
				th:classappend="${#httpServletRequest.servletPath.equals('/User') ? 'active' : ''}">
				<a href="user.html" th:href="@{/User}"> <i class="pe-7s-user"></i>
					<p>User Profile</p>
			</a>
			</li>

			<li
				th:classappend="${#httpServletRequest.servletPath.equals('/userList') ? 'active' : ''}"
				th:if="${#request.isUserInRole('SUPERUSER') || #request.isUserInRole('ADMIN') }">
				<a href="userList.html" th:href="@{/userList}"> <i
					class="pe-7s-note2"></i>
					<p>User List</p>
			</a>
			</li>
			<li
				th:classappend="${#httpServletRequest.servletPath.equals('/task') ? 'active' : ''}"><a
				href="task.html" th:href="@{/task}"><i class="pe-7s-news-paper"></i>
					<p>Task</p> </a></li>
			<li
				th:classappend="${#httpServletRequest.servletPath.equals('/notifications') ? 'active' : ''}"><a
				href="notifications.html"> <i class="pe-7s-bell"></i>
					<p>Notifications</p>
			</a></li>
		</ul>

	</div>
</div>
</html>
