<!Doctype>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/header::links"></head>

<body>

	<div class="wrapper">

		<div th:include="fragments/sidebar"></div>
		<!-- Left Sidebar End -->
		<div class="main-panel">
			 <div th:replace="fragments/header :: frag(${value})"></div>
			<div class="content">
			
			<button class= "btn btn-primary" data-toggle="modal" data-target="#myModal">Add user <i class ="fa fa-plus"></i></button>
				<br>
				<br>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>	
								<th>Firstname</th>
								<th>Lastname</th>
								<th>Username</th>
								<th>Address</th>
								<th>City</th>
								<th>Country</th>
								<th>Role</th>
								<th>Delete/Update</th>
				
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${users}">
								<td hidden th:text="${item.id}"></td>
								<td th:text="${item.firstname}"></td>
								<td th:text="${item.lastname}"></td>
								<td th:text="${item.username}"></td>
								<td th:text="${item.address}"></td>
								<td th:text="${item.city}"></td>
								<td th:text="${item.country}"></td>
								<td th:text="${item.roleId.roleName}"></td>
								<td>
								<form th:action="@{|/deleteUser/${item.id}|}" th:method="delete">
									<button class="btn btn-default" type="submit">Delete</button>
								</form>
								<button class= "btn btn-default" data-toggle="modal" data-target="#myModalTwo" onClick="getId(this)">Update</button>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
					<div >
						<p ></p>
					</div>



				</div>
				<div th:include="fragments/footer"></div>
			<!-- footer  -->
		</div>
	</div>
	

<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Add User</h4>
							</div>
							<div class="modal-body">
								<form th:action="@{/addUser}" class="form-addUser" method = "post" th:object="${user}">
					                <input  th:field="*{firstname}" class="form-control" placeholder="First Name" autofocus>
					                <br>
					                <input th:field="*{lastname}" class="form-control" placeholder="Last Name">
					                <br>
					                <input th:field="*{username}" class="form-control" placeholder="Username">
					                <br>
					                <input th:field="*{city}" class="form-control" placeholder="city">
					                <br>
					                <input th:field="*{country}" class="form-control" placeholder="country">
					                <br>
					                <input th:field="*{address}" class="form-control" placeholder="address">
					                <br>
					                <input th:field="*{postalcode}" class="form-control" placeholder="postalcode">
					                <br>
					                <input th:field="*{password}" class="form-control" placeholder="password" type="password">
					                <br>
					                <select class="selectpicker" data-live-search="true" th:field="*{roleId.id}">
					                <option value="1">ADMIN</option>
					                <option value="2">SUPER USER</option>
					                <option value="3">USER</option>
					                </select> 
					                <button class="btn btn-primary" type="submit">Add User</button>
            					</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
							</div>
						</div>

					</div>
				</div>
				<div id="myModalTwo" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Update User</h4>
							</div>
							<div class="modal-body">
								<form th:action="@{/updateUser}" class="form-addUser" method = "post" th:object="${user}">
									<input hidden th:field="*{id}" class="id"> 
					                <input  class="form-control firstname" placeholder="firstname" th:field="*{firstname}" autofocus>
					                <br>
					                <input  class="form-control lastname" placeholder="lastname" th:field="*{lastname}">
					                <br>
					                <input  class="form-control username" placeholder="username" th:field="*{username}">
					                <br>
					                <input  class="form-control city" placeholder="city" th:field="*{city}">
					                <br>
					                <input  class="form-control country" placeholder="country"th:field="*{country}">
					                <br>
					                <input  class="form-control address" placeholder="address" th:field="*{address}">
					                <br>
					                <input  class="form-control postalcode" placeholder="postalcode" th:field="*{postalcode}">
					                <br>
					                <input  class="form-control password" placeholder="password" type="password" th:field="*{password}">
					                <br>
					                <select name="selValue" class="selectpicker role" data-live-search="true" th:field="*{roleId.id}">
					                <option value="1">ADMIN</option>
					                <option value="2">SUPER USER</option>
					                <option value="3">USER</option>
					                </select> 
					                <button class="btn btn-primary" type="submit">Update User</button>
            					</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
							</div>
						</div>

					</div>
				</div>

	<script>
		var id;

		function getId(e) {
			var row = e.closest("tr");
			id = $(row).find('td')[0];
			id = $(id).text();

			$.ajax({
				url : "user/" + id
			}).then(function(data) {
				console.log(data)
				$(".id").val(data.id);
				$(".firstname").val(data.firstname);
				$(".lastname").val(data.lastname);
				$(".username").val(data.username);
				$(".city").val(data.city);
				$(".country").val(data.country);
				$(".address").val(data.address);
				$(".postalcode").val(data.postalcode);
				$(".password").val(data.password);
			    $(".role").val(data.authorities[0].authority);
			  
				if(data.authorities[0].authority == "ROLE_ADMIN" ){
					
					$('.role option').removeClass('selcted active').removeClass('selected');
					$(".role option[value='1']").addClass('selected active');
					$('.role').selectpicker("refresh");
					
				}else if (data.authorities[0].authority == "ROLE_SUPERUSER"){
					
					$('.role option').removeClass('selcted active').removeClass('selected');
					$(".role option[value='2']").addClass('selected active');
					$('.role').selectpicker("refresh");
					
				}else if (data.authorities[0].authority == "ROLE_USER"){
					
					$('.role option').removeClass('selcted active').removeClass('selected');
					$(".role option[value='3']").addClass('selected active');
					$('.role').selectpicker("refresh");
					
				}
				
				
			})
		}
	</script>

</body>
</html>